@media (max-width: 830px) {
  .order-information {
    margin-right: 8px;
    margin-left: 18px;
  }
  #final-title {
    font-size: 45px;
  }
  .food-amount {
    font-size: 46px;
  }
  .food-title {
    font-size: 18px;
  }
  #nutrition-title {
    font-size: 32px;
  }
  .final-macro-amount {
    font-size: 27px;
  }
  .final-macro {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .order-information {
    margin-right: 6px;
  }
  #final-title {
    font-size: 42px;
  }
  .food-amount {
    font-size: 43px;
  }
  #nutrition-title {
    font-size: 30px;
  }
  .final-macro-amount {
    font-size: 25px;
  }
  .final-macro {
    font-size: 11px;
  }
  .final-restart {
    height: 70px;
    width: 48%;
  }
}
@media (max-width: 530px) {
  .order-information {
    margin-right: 3px;
    margin-left: 15px;
  }
  #final-title {
    font-size: 38px;
  }
  .food-amount {
    font-size: 35px;
  }
  .food-title {
    font-size: 16px;
  }
  #nutrition-title {
    font-size: 25px;
    margin-bottom: 25px;
  }
  .final-macro-amount {
    font-size: 22px;
  }
  .final-macro {
    font-size: 10px;
  }
  .final-restart {
    height: 65px;
    width: 50%;
  }
}
@media (max-width: 470px) {
  .order-information {
    margin-right: 0px;
    margin-left: 15px;
  }
  #final-title {
    font-size: 34px;
    margin-bottom: 16px;
  }
  .food-amount {
    font-size: 32px;
  }
  .food-title {
    font-size: 14px;
    padding-left: 9%;
  }
  #nutrition-title {
    font-size: 22px;
    margin-top: 2px;
    margin-bottom: 17px;
  }
  .final-macro-amount {
    font-size: 17px;
  }
  .final-macro {
    font-size: 9px;
  }
  .final-restart {
    height: 60px;
    width: 51%;
  }
}
@media (max-width: 390px) {
  .order-information {
    margin-left: 13px;
  }
  #final-title {
    font-size: 31px;
    margin-bottom: 14px;
  }
  .food-amount {
    font-size: 29px;
  }
  .food-title {
    font-size: 12px;
  }
  #nutrition-title {
    font-size: 20px;
  }
  .final-macro-amount {
    font-size: 16px;
  }
  .final-macro {
    margin-top: 9px;
  }
  .final-restart {
    height: 55px;
    width: 53%;
  }
}
