.header_grid{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}
.title_section{
  padding-left: 42px;
}
.title{
  font-size: 30px;
  display: grid;
  row-gap: 8px;
  margin-top: 110px;
}
.title-text{
  margin: 0;
  font-weight: 400;
}
.main_description{
  margin-top: 40px;
  font-size: 16px;
}
#title-image{
  height: 322px;
  margin-top: 70px;
}